body{
    background: #00b386;
    
}

main{
    width: 500px;
    margin: auto;
    
}

textarea{
    height: 50px;
    width: 200px;
    margin: 10px;
}

.Skicka{
    width: 440px;
}

.form_wrapper{
    padding: 10px;
}

.todos{
    background: green;
    width: 400px;
    padding: 20px;
}

.dones{
    background: green;
    width: 400px;
    padding: 20px;
}

button{
    width: 100%;
    background: #b3ffb3;
}